<div class="section trending">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Trending</h6>
            <h2>Trending Games</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="shop.html">View All</a>
          </div>
        </div>

        <div *ngIf="isLoading">
          <app-loader />
        </div>

        <div *ngFor="let game of trendingGames" class="col-lg-3 col-md-6">

          <div *ngIf="!isLoading" class="item">
            <div class="thumb">
              <a routerLink="/{{game['id']}}"><img src="{{game['imageUrl']}}" width="350" height="400" alt=""></a>
              <span class="price">${{game['price']}}</span>
            </div>
            <div class="down-content">
              <span class="category">{{game['genre']}}</span>
              <h4>{{game['name']}}</h4>
              <a routerLink="/{{game['id']}}"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>