<div class="section cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="shop">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Our Shop</h6>
                <h2>Go Buy & Get Best <em>Prices</em> For You!</h2>
              </div>
              <h5>
                Experience gaming without the high price tag. GamesDepot offers unbeatable prices, ensuring you get the most fun for your funds. Start your adventure today!
              </h5>
              <div class="main-button">
                <a [routerLink]="['/game/shop']" [queryParams]="{ page: 1}" >Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2 align-self-end">
        <div class="subscribe">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Level Up Your Gaming Experience</h6>
                <!-- <h2>
                  Get Up To $100 Off Just Buy <em>Subscribe</em> Newsletter!
                </h2> -->

                <h5>
                  Discover a world of gaming possibilities at GamesDepot.
                  Explore an extensive selection of games across genres and
                  platforms, connect with fellow gamers, and unlock the next
                  level of excitement. Your journey to unforgettable gaming
                  experiences begins here.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
