<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/last.png" alt="" style="width: 200px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="index.html" class="active">Home</a></li>
                      <li><a href="shop.html">Shop</a></li>
                      <li *ngIf="isLoged" ><a routerLink="/game/create" >Create</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                      <li *ngIf="!isLoged"><a routerLink="/register" [ngStyle]="{'background-color':'#ee626b'}" href="#">Sign In</a></li>
                      <li *ngIf="!isLoged"><a routerLink="/login" [ngStyle]="{'background-color':'#ee626b'}" href="#">Log In</a></li>
                      <li *ngIf="isLoged" ><a (click)="logout()" [ngStyle]="{'background-color':'#ee626b'}" href="#">Log Out</a></li>

                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>