<div class="section categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Categories</h6>
            <h2>Top Categories</h2>
          </div>
        </div>

        <div *ngFor="let game of games" class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>{{game.genre}}</h4>
            <div class="thumb">
              <a routerLink="test"><img src="{{game.imageUrl}}"  width="350" height="300"></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>