<div class="section categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Categories</h6>
            <h2>Top Categories</h2>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{{images.action}}"  width="350" height="300"></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Adventure</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{{images.adventure}}"  width="350" height="300"></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Strategy</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{{images.strategy}}"  width="350" height="300"></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Racing</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{{images.racing}}"  width="350" height="300"></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Sport-Games</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{{images.sport}}"  width="350" height="300"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>