<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{game.name}}</h3>
          <span class="breadcrumb"><a href="#">Home</a>  >  <a href="#">Shop</a>  >  {{game.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src={{game.imageUrl}} width="50" height="540" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{game.name}}</h4>
          <span class="price">${{game.price}}</span>
          <p>{{game.description}}</p>
          <form id="qty" action="#">
            <input type="qty" class="form-control" id="1" aria-describedby="quantity" placeholder="1">
            <button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button>
          </form>
          <ul>
            
            <!-- fix owner profile -->
            <li><span>OwnerProfile</span> COD MMII</li>

            <!-- change genre link -->
            <li><span>Genre:</span> <a href="#">{{game.genre}}</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>