<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{cartInfo.gamesCounter}}</div>
                </div>
            </div>

            <div *ngFor="let game of games" class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src={{game.imageUrl}}></div>
                    <div class="col">
                        <div class="row text-muted">{{game.name}}</div>
                    </div>
                    <div class="col">&euro; {{game.price}} <span class="close">&#10005;</span></div>
                </div>
            </div>

            <div class="col">TOTAL PRICE</div>
            <div class="col text-right">&euro; {{cartInfo.price}}</div>
            
            <div class="paypalButton">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>

            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
    
</div>