<body style="background-image: url('/assets/images/banner-bg.jpg'); background-size: cover;">
<div class="container">
    <div class="profile-card">
        <div class="profile-picture">
            <!-- You can put the actual profile picture here -->
        </div>
        
        <div class="profile-name">nz</div>
        <div class="profile-info">
            <p><span class="profile-label">Email:</span>kur</p>
            <p><span class="profile-label">Total Games:</span> 50</p>
        </div>
        </div>
    </div>

    <div  class="items-container">
        <div *ngFor="let game of games" class="item-card">

                <img routerLink="/game/{{game['id']}}" src="{{game['imageUrl']}}" width="90" height="250" >

            <div class="item-name">{{game['name']}}</div>
        </div>
    </div>
</body>